.new-item{
  padding: 0.5em 0em 0.5em 0em;
  text-align: center;
}
.item, .expiry-date, .owner {
  width: 30%;
  margin: 0.5em;
  border-radius: 0.75em;
  font-size: 1em;
}
.btn{
font-size: 1.5em;
color: white;
border-radius: 0.75em;
border-color: rgb(187, 25, 174);
background-color: rgb(131, 25, 187);
}
